/* Navbar */
nav {
    display: flex;
    background-color: #00172d;
    justify-content: space-around;
    /* padding: 20px 0; */
    color: rgb(255, 255, 255);
    height: 50px;
    align-items: center;
    width: 100%;
    /* top: 0;
    position: fixed; */
    
}

nav .logo {
    font-family: 'light', sans-serif;
    letter-spacing: 3px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 0.8em;
}

nav ul li a:hover {
    background-color: rgba(255, 251, 244, 0.315);
}



/* Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    right: -6px;
    top: -5px;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    background-color: rgb(252, 252, 252);
    width: 28px;
    height: 3px;
    border-radius: 3px;
    transition: all .5s;
}

/* Menu Animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
    display: none;
}

.menu-toggle input:checked ~ span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}



/* Main */
.container {
    max-height: 100vh;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    box-sizing: border-box;
    overflow: hidden;
}

.container main {
    overflow: auto;
}

.container main ul {
    list-style: none;
}

.container main ul li {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, .3);
}

.container main ul li:nth-child(odd) {
    background-color: rgba(0, 0, 0, .3);
}

.container main ul li:nth-child(even) {
    background-color: rgba(0, 0, 0, .5);
}

.container .inputField {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

/* .container .inputField #inputText{
    width: 95vw;

} */

.container .inputField #inputText:focus {
    outline: 1px solid #00172d;
}

.container .inputField button {
    cursor: pointer;
}



/* Responsive */

/* Ukuran Tablet */
@media screen and (max-width: 768px){
    nav {
        z-index: 9;
    }
    nav ul {
        width: 50%;
    }
    
}

/* Ukuran Mobile */
@media screen and (max-width: 576px){
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color:  #00172d;
        width: 100%;
        transform: translateX(100%);
        transition: 1s;
        opacity: 0;
    }
    nav .menu-toggle{
        display: flex;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
        z-index: -1;
    }


    
}




/* Inisialisasi Huruf */
@font-face {
    font-family: 'light';
    src: url(../font/Roboto-Light.ttf);
}

@font-face {
    font-family: 'bold';
    src: url(../font/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'regular';
    src: url(../font/Roboto-Regular.ttf);
}